*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.log-in{
    margin: auto;
    width: 400px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.title {
 margin-top: 0px;
 margin-bottom: 38px;
 text-align: center;
}

#login-box > input::placeholder{
    color: #e8e8e8;
}

#login-box > input{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #20140801;
}

#login-box > input[type="finish"]{
    color: #fff;
    font-size: 16px;
    background-color: #ffe3db;
    margin-top: 20px;
}